body{
    overflow-x: hidden;
}
.top{
    background-color: #2f323a;
    width: 100%;
    height: 11.3%;
    

}
.logo img{
    text-align: center;
    margin-left: 50%;
    margin-top: 0.5em;
    
}
 .text{
    color:#fff;
    font-family: 'Myriad Pro';
    font-size: 29.42px;
}
.left-menu{
    background-color:#2f323a;
    height: 100%;
}
.right-side{
    background-color:#fff;
    width: 90.7em;
    height: 100%;
    
}